<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Footer | The Rave</title>
</head>
<body class="footer-body" >
    <div class="footer-left-panel">
        <div class="footer-sponsors">
            <h4>SPONSORS :</h4>
            <img src="./images/carnivore.jpg" alt="carnivore">
            <img src="./images/coke.jpg" alt="">
            <img src="./images/johny.png" alt="johny">
            <img src="./images/rag.webp" alt="rag">
        </div>
        <div class="footer-contacts">
            <h4>CONTACTS :</h4>
            <img src="./logos/call-outline.svg" alt="call-outline">
            <img src="./logos/logo-facebook.svg" alt="facebook icon">
            <img src="./logos/mail-outline.svg" alt="gmail">
            <img src="./logos/logo-twitter.svg" alt="tweets">
        </div>
    </div>
    <div class="footer-right-panel">
        <h4>Payment Methods</h4>
        <img src="" alt="mpesa">
        <img src="" alt="paypal">
        <img src="" alt="mastercard">
    </div>
</body>
</html>