<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Calendar | The Rave</title>
</head>
<body>
    <h2>BUY TICKETS</h2>
    <div class="payment">
        <form action="/calendar" method="get">
            <label for="event_name">Event Name</label>
            <input type="text" name="event_name" id="event_name"><br><br>
            <label for="tickets">Number of tickets</label>
            <input type="number" name="tickets" id="tickets"><br><br>
            <input type="submit" value="BUY">
        </form>
    </div>
</body>
</html>