<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Calendar | The Rave</title>
</head>
<body>
    <div class="single-poster">
        <h2>Purchase Ticket</h2>
        <div class="card">
            <img src="./images/posters/<%=eventTicket.eventposter%>" alt="event-poster">
            <div class="lower">
                <span><%=eventTicket.event_date%></span>
                <h3><%=eventTicket.event_name%></h3>
            </div>
        </div>
        <button class="buy-delete" onclick="window.location.href='/';" id="done">DONE</button>
    </div>
    <footer>
        <%-include('partials/footer')%>
    </footer>
</body>
</html>