<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Contact | The Ravers</title>
</head>
<body>
    <div class="contact-left-panel">
        <h2>Contact Us</h2>
        <p>Reach out to The Ravers at any time for any issues you might have regarding event tickets, ticket purcgases, ticket refunds, events cancellations and any other issues not mentioned above. We are heare to serve you and will be pleased to hearing from you to help better our services. 
            Thank you for choosing us.
        </p>
        <div class="contact-extras">
            <p>Other Communication channels: </p>
            <div class="contact-extras-icons">
                <img src="./logos/call-outline.svg" alt="call">
                <img src="./logos/logo-facebook.svg" alt="facebook">
                <img src="./logos/logo-twitter.svg" alt="twitter">
                <!-- <img src="./images/logos/mail-outline.svg" alt="mail"> -->
            </div>
        </div>
    </div>
    <div class="contact-right-panel">
        <form action="" method="">
            
            <label for="Name">Name</label>
            <input type="text" name="name" id="name" placeholder="Name" required><br><br>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email" required><br><br>
            <label for="enquiry">Subject of Enquiry</label>
            <input type="text" name="enquiry" id="enquiry"><br><br>
            <!-- <label for="info">More Information</label> -->
            <textarea name="info" id="info" cols="30" rows="10" placeholder="More Information"></textarea>
        </form>
    </div>
</body>
</html>