<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="top-nav">
        <img src="" alt="main logo">
        <h1>RAVERS</h1>
        <%- include('partials/header') %>
    </div>
    <main>
        <div class="left-panel">
            <img src="" alt="the-one">
            <img src="" alt="another">
            <img src="" alt="somelogo">
        </div>
        <div class="right-panel">
            <div class="all-posts">
                <div class="each-post">
                    <img src="" alt="">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Half Marathon </h3>
                <div class="each-post">
                    <img src="" alt="">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Half Marathon </h3>
                <div class="each-post">
                    <img src="" alt="">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Half Marathon </h3>
                <div class="each-post">
                    <img src="" alt="">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Half Marathon </h3>
                <div class="each-post">
                    <img src="" alt="">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Half Marathon </h3>
                <div class="each-post">
                    <img src="" alt="">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Half Marathon </h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>