<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="top-nav">
        <img src="./images/mainlogo.png" alt="main logo">
        <h1>RAVERS</h1>
            <%- include('partials/header') %>
    </div>
    <main>
        <div class="left-panel">
            <a href=""><img src="./logos/calendar-clear-outline.svg" alt="the-one"></a>
            <a href=""> <img src="./logos/ticket-outline.svg" alt="another"></a>
            <a href=""> <img src="./logos/info.svg" alt="somelogo"></a>
        </div>
        <div class="right-panel">
            <div class="all-posts">
                <div class="each-post">
                    <img src="./images/choma.jpg" alt="first image">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Marathon </h3>
                    </div>
                </div>
                <div class="each-post">
                    <img src="./images/choma.jpg" alt="second image">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Marathon </h3>
                    </div>
                </div>
                <div class="each-post">
                    <img src="./images/choma.jpg" alt="third image">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Marathon </h3>
                    </div>
                </div>
                <div class="each-post">
                    <img src="./images/choma.jpg" alt="fourth image">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Marathon </h3>
                    </div>
                </div>
                <div class="each-post">
                    <img src="./images/choma.jpg" alt="fifth image">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Marathon </h3>
                    </div>
                </div>
                <div class="each-post">
                    <img src="./images/choma.jpg" alt="sixth image">
                    <div class="lower">
                        <span>
                            FRI
                            18th
                            MAY
                        </span>
                        <h3>The Ndakaini Marathon </h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>