<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Page | The Ravers</title>
</head>
<body>
    <h2>Terms Of Use for The Rave</h2>
    <p>
Welcome to The Rave Events Management Company. These Terms of Service ("Agreement") govern your use of our services. By accessing or using our services, you agree to comply with and be bound by the terms and conditions outlined in this Agreement. If you do not agree with these terms, please do not use our services.</p>
<h3>1. Services Provided</h3>
<p>1.1 The Rave offers comprehensive event management services, including event planning, coordination, production, marketing, and execution.</p>
<p>1.2 The specific details and scope of services provided by The Rave will be agreed upon in a separate contract or agreement between The Rave and the client.</p>
<h3>2. Client Responsibilities</h3>
<p>2.1 The client agrees to provide accurate and complete information regarding their event requirements, including dates, location, desired outcomes, and any specific requests.
</p>
<p>2.2 The client is responsible for obtaining any necessary permits, licenses, or permissions required for the event and ensuring compliance with all applicable laws and regulations</p>
<p>2.3 The client shall promptly provide feedback, approvals, and any required information or materials requested by The Rave to facilitate the smooth planning and execution of the event.</p>
<h3>3. Fees and Payment</h3>
<p>3.1 The fees for our services will be agreed upon in a separate contract or agreement between The Rave and the client. All fees are exclusive of any applicable taxes unless otherwise stated</p>
<p>3.2 Payment terms, including any required deposits, installment schedules, and payment methods, will be outlined in the separate contract or agreement between The Rave and the client.</p>
<p>3.3 Late payments may be subject to additional charges or penalties as specified in the separate contract or agreement.</p><br>
<hr>
<h2>Frequently Asked Questions</h2>

</body>
</html>