<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <%if(locals.error){%>
      <p style="color:orangered">
        <%=locals.errorMessage%>
      </p>
      <%}%>
    <form action="/login" method="post">
      <label for="email"> Email</label><br />
      <input type="email" name="email" id="email" required /><br /><br />
      <label for="password">Password</label><br />
      <input
        type="password"
        name="password"
        id="password"
        required
      /><br /><br />
      <input class="btns" type="submit" value="LOG IN" /><br /><br />
      <p>Don't have an account? <a href="register">REGISTER</a></p>
    </form>
  </body>
</html>
