<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./scripts/main.js" defer></script>
    <title>Ravers</title>
  </head>
  <body>
    <header>
      <div class="ravers-header">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <span><img src="./images/profiles/" alt="" /></span>
      </div>
    </header>
    <main>
      <div class="ravers-main">
        <div class="main-header">
          <h2>Recent Events</h2>
          <a href="/post-add-page">ADD EVENT</a>
          <!-- <button class="event-button">+ Add Event</button> -->
        </div>
        <!-- <button class="trial"> That event</button> -->
           
         
      </div>
    </main>
  </body>
</html>
