<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings | The Rave</title>
</head>
<body>
   <h2> User Settings</h2> 
   <div class="settings-items">
    <div class="each-item">
        <p>Account Settings</p>
        <span>&gt;</span>
    </div>
    <div class="each-item">
        <p>Personal Information</p>
        <span>&gt;</span>
    </div>
    <div class="each-item">
        <p>Privacy and User Data</p>
        <span>&gt;</span>
    </div>
    <div class="each-item">
        <p>Security and Logins</p>
        <span>&gt;</span>
    </div>
    <div class="each-item">
        <p>Notifications</p>
        <span>&gt;</span>
    </div>
    <div class="each-item">
        <p>themes and Preferences</p>
        <span>&gt;</span>
    </div>
    <div class="each-item">
        <p>Language and Back Up</p>
        <span>&gt;</span>
    </div>
    <div class="each-item">
        <p>Get Help</p>
        <span>&gt;</span>
    </div>
   </div>
   <footer>
    <%-include('partials/footer')%>
   </footer>
</body>
</html>