*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    
}
.left-side-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    background-color: red;
}
.left-side-panel img{
    height: 40px;
    width: 40px;
}
.right-side-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    background-color: blue;
}
.card{
    width: 30%;
    height: fit-content;
}